.panel-title {
    background-color: #565656;
    color: #fff;
    text-align: center;
    padding: 50px 250px;
}

    .panel-title .copa {
        text-transform: uppercase;
        color: #d4d4d4;
    }

    .panel-title hr {
        width: 3%;
    }
