/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #c3c3c3;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* panel title */
.panel-title {
    background-color: #696969;
    color: #fff;
    text-align: center;
    padding: 50px 250px;
}

    .panel-title .copa {
        text-transform: uppercase;
        color: #d4d4d4;
    }

    .panel-title .title, .panel-title .sub-title {
        font-weight: 600;
    }

    .panel-title hr {
        width: 3%;
    }
